/node_modules
/public/hot
/public/foto_produk/*
!/public/foto_produk/.gitkeep
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

public/foto_ktp_user/
