#collapseKeranjangBelanja {
    margin:0;
    padding:0;
    position:relative;
}
#collapseKeranjangBelanja > div {
    position:absolute;
    top:1.3em;
    margin:0;
    padding:0;
    list-style-type:none;
    list-style-position:outside;
    line-height:1.5em;
    background: #ffffff;
    padding: 5px;
    border: 1px solid #eeeeee;
    right: 0%;
    width: 350px;
    border-radius: 2px;
    display: none;
    box-shadow: 1px 5px 12px #353535;
}
#collapseKeranjangBelanja div td.produkName, #collapseKeranjangBelanja div td.subtotalProduk {
    padding: 6px;
    border-top: 1px solid #e1e1e1;
}
#collapseKeranjangBelanja div td.produkName {
    width: 90%;
}
#collapseKeranjangBelanja div td.subtotalProduk {
    width: 10%;
    text-align: right;
}
#collapseKeranjangBelanja div th {
    font-size: medium;
    font-weight: bold;
}
#collapseKeranjangBelanja div th.thNamaProduk {
    text-align: left;
}
#collapseKeranjangBelanja div th.thSubtotal {
    text-align: right;
    padding-right: 30px;
}
#collapseKeranjangBelanja div small.productCount {
    color: red;
}
#collapseKeranjangBelanja div div.warungName {
    display: block;
    margin-bottom: 5px;
}
#collapseKeranjangBelanja div.produkKosong {
    color: black;
}
#collapseKeranjangBelanja div table.produkTable:nth-child(odd) {
    background: #fafafa;
}
#collapseKeranjangBelanja div table.produkTable:nth-child(even) {
    background: #eeeeee;
}
#collapseKeranjangBelanja div div.tableList {
    height: 180px;
    overflow-y: scroll;            
}
#collapseKeranjangBelanja div div.tableList::-webkit-scrollbar {
    width: 5px;
}
#collapseKeranjangBelanja div div.tableList::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
#collapseKeranjangBelanja div div.tableList::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
#collapseProdukMobile {
    display: none;
    position:absolute;
    top:5em;
    width: 100%;
}
#collapseProdukMobile div.tableTable {
    border-radius: 2px;
    width: 92.5%;
    border: 1px solid #eeeeee;
    background: #ffffff;
    margin: 0 auto;
    box-shadow: 1px 5px 12px #353535;
}
#collapseProdukMobile div.tableListMobile {
    height: 140px;
    overflow-y: scroll;
}
#collapseProdukMobile div.tableListMobile::-webkit-scrollbar {
    width: 8px;
}
#collapseProdukMobile div.tableListMobile::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
#collapseProdukMobile div.tableListMobile::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
#collapseProdukMobile table.produkTableMobile:nth-child(odd) {
    background: #fafafa;
}
#collapseProdukMobile table.produkTableMobile:nth-child(even) {
    background: #eeeeee;
}
#collapseProdukMobile table td.subtotalProdukMobile {
    text-align: right;
}
#collapseProdukMobile table th.thNamaProdukMobile {
    text-align: left;
}
#collapseProdukMobile table th.thSubtotalMobile {
    text-align: right;
    padding-right: 30px;
}
#collapseProdukMobile table td.produkNameMobile, #collapseProdukMobile table td.subtotalProdukMobile {
    padding: 6px;
    border-top: 1px solid #e1e1e1;
    width: 100%;
}
.bgAnimation {
    -webkit-animation: color 2s ease-in  0s 1 alternate running;
    -moz-animation: color 2s ease-in  0s 1 alternate running;
    animation: color 2s ease-in  0s 1 alternate running;
}
@keyframes color {
    0% { background-color: #e91e63; }
    50% { background-color: #aae91e; }
    100% { background-color: #2ac326; }
}